source https://www.nuget.org/api/v2/
generate_load_scripts: on
framework: net5
// storage: none

github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK tests/ProvidedTypesTesting.fs

nuget FSharp.Core
nuget System.Configuration.ConfigurationManager
nuget System.Data.Common
nuget Microsoft.Data.SqlClient
nuget System.Runtime.Caching
nuget Microsoft.SqlServer.TransactSql.ScriptDom
nuget dotMorten.Microsoft.SqlServer.Types

group Build
	source https://www.nuget.org/api/v2/
	framework: net5
	generate_load_scripts: on
	storage: none
	
	nuget FAKE
	nuget Fake.Lib

	nuget FSharp.Formatting
	nuget FSharp.Compiler.Service
	nuget RazorEngine

	nuget NuGet.CommandLine
	
group Test
	source https://www.nuget.org/api/v2/
	framework: net5
	storage: none

	nuget FSharp.Core redirects:force
	nuget Microsoft.Data.SqlClient
	nuget System.Configuration.ConfigurationManager
	
	nuget dotMorten.Microsoft.SqlServer.Types
	nuget Newtonsoft.Json
	nuget xunit
	nuget xunit.runner.visualstudio

group TestProjects
	source https://www.nuget.org/api/v2/
	framework: net5
	// storage: none

	nuget FSharp.Core

	nuget Microsoft.Data.SqlClient
	nuget System.Configuration.ConfigurationManager

group Samples
	source https://www.nuget.org/api/v2/
	framework: net5
	redirects: on
	
	nuget FSharp.Core redirects: force
	
	nuget Microsoft.AspNet.WebApi
	nuget Microsoft.AspNet.WebApi.Client
	nuget Microsoft.AspNet.WebApi.Core
	nuget Microsoft.AspNet.WebApi.WebHost
	nuget dotMorten.Microsoft.SqlServer.Types

	nuget Newtonsoft.Json redirects: force
	nuget FSharp.Data.SqlClient
	